#container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  height: 32rem;
  border: solid gold;
}

#container .line {
  height: 2rem;
  flex: 1;
  display: flex;
}

#container .line .element {
  width: 2rem;
  flex: 1;
  transition: all 300ms ease-in-out;
}
